body, html {
  margin: 0;  
  padding: 0; 
  width: 100%; 
}

#root {
  width: 100%;
}

.app-container {
  width: 100%;
  position: relative; 
  min-height: 100vh; 
  background: linear-gradient(to right, pink, blue); 
  display: flex;
  color: white; 
}

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); 
}

.active-tab {
  color: #004370;
  border-bottom: 5px solid #004370
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}